@using IvysNails.Core.Models.ViewModels.Home
@using IvysNails.Infrastructure.Data.Models
@model AppointmentServiceModel

@{
    ViewData["Title"] = "Направете резервация";
}

<h1>Направете резервация за процедура</h1>

<form asp-controller="Appointment" asp-action="BookAppointment" method="post">
    <div class="form-group">
        <label for="date">Дата:</label>
        <select asp-for="Date" class="form-control">
            @foreach (var date in Model.Dates)
            {
                <option value="@date.ToString("yyyy-MM-dd")">@date.ToString("dd-MMMM-yyyy")</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="time">Час:</label>
        
        <select asp-for="Duration" class="form-control">
            @for (var i = 9; i <= 18; i++)
            {
                <option value="@i:00">@i:00</option>
                <option value="@i:30">@i:30</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label for="customerName">Име:</label>
        <input type="text" asp-for="CustomerId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Телефонен номер:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Направете резервация</button>
</form>
